<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

<body>

<header>
  <a href="{{ '/' | url }}">
    <em>t</em>im<em>b</em>enk<em>e</em>
  </a>
</header>

<main>
  {{ layoutContent | safe }}
</main>

</body>
</html>
