<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

<body>

<header>
  <span>
    <a href="{{ '/' | url }}">
      <strong>t</strong>im<strong>f</strong>ores<strong>t</strong>
    </a>
  </span>

  {% set navPages = collections.all | eleventyNavigation %}
  <nav>
    {%- for entry in navPages %}
      <span{% if entry.url == page.url %} class="active-nav-item"{% endif %}>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </span>
    {%- endfor %}
  </nav>
</header>

<main>
  {{ layoutContent | safe }}
</main>

</body>
</html>
